parameters:
	level: 6
	checkGenericClassInNonGenericObjectType: false
	universalObjectCratesClasses:
	    - Illuminate\Http\Resources\Json\JsonResource
	paths:
		- app
		- config
		- database
		- public
		- resources
		- routes
